#scroll_img{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    position: absolute; /* 원래위치(기본)와 상관없이 위치를 정할 수 있음. */
    bottom: 100px;
    z-index: 100; /* 배치 순서 (순서가 높을수록 앞쪽으로 감) */
    box-sizing: border-box;
    display: block; /* 속성을 어떻게 보여줄지 결정 */
    /*none, block - 블록박스, inline - 인라인박스, inline-block - 인라인과 블록의 중간 */
}

#scroll_img2{
    width: 30px;
    height: 30px;
    background: url("../img/scroll.png") no-repeat;
    animation-name: scroll; /* 애니메이션 이름 지정 */
    animation-duration: 3s; /* 애니메이션 속도 (숫자가 많을수록 느리게) */
    animation-iteration-count: infinite; /* 애니메이션 반복 */
}

/* 스크롤 그림 애니메이션 */
@keyframes scroll{ /* 위에서 지정한 애니메이션 이름과 동일 */
   0% { /* 처음 시작점 */
       top:0px;
   }
   50% { /* 중간 지점 */
       top:20px;
   }
   100% { /* 끝 지점 */
       top:0px;
   }
}